
script(src="/public/assets/js/jquery.min.js")
script(src="/public/assets/js/bootstrap.min.js")
script(src="/public/assets/js/holder.min.js")
script(src="/public/assets/js/ie10-viewport-bug-workaround.js")
script(src="/public/assets/js/js-url-helper.min.js")
script(src="/public/assets/js/layer/layer.js")
