
script(src="/public/assets/js/jquery.min.js")
script(src="/public/assets/js/bootstrap.min.js")
script(src="/public/assets/js/bootstrap-table/bootstrap-table.min.js")
script(src="/public/assets/js/bootstrap-table/bootstrap-table-zh-CN.js")
script(src="/public/assets/js/js-url-helper/js-url-helper.min.js")
script(src="/public/assets/js/layer/layer.js")
