nav(class="navbar navbar-inverse navbar-fixed-top")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      span(class="navbar-brand") 当前项目 [#{currentProject}]
      span(class="navbar-brand") Js-Multi-Seed 版本 [#{JMSVersion}]
    div(id="navBar" class="navbar-collapse collapse")
      form(class="navbar-form navbar-right")
        select(class="form-control")
          each project in projects
            if currentProject === project
              option(value=project selected)
                =project
            else
              option(value=project)
                =project
