nav(class="navbar navbar-inverse navbar-static navbar-static-top")
  div(class="container-fluid")
    div(class="navbar-header")
      span(class="navbar-brand") 当前项目
        kbd #{currentProject}
      span(class="navbar-brand") JMS 版本
        kbd(id="version") #{JMSVersion}
    div(class="collapse navbar-collapse")
      ul(class="nav navbar-nav navbar-right")
        li(class="dropdown")
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            | 切换项目
            span(class="caret")
          ul(class="dropdown-menu")
            each project in projects
              if currentProject === project
                li(class="active")
                  a(href="/console_board?project=#{project}")
                    =project
              else
                li
                  a(href="/console_board?project=#{project}")
                    =project
