div(class="jumbotron")
  div(class="alert alert-warning text-center" role="alert")
    strong 哦噢！
    | 目前还没有添加或创建任何项目。
  p(class="text-center")
    | 请运行
    code jms create|c
    | 创建新项目
    | 或
    code jms add|a
    | 添加已存在项目
  p(class="text-center")
    a(href="javascript: location.reload();" class="btn btn-primary") 刷新
