div(class="col-sm-3 col-md-2 sidebar" id="sidebar")
  ul(class="nav nav-sidebar")
    // li(class="active")
      a(href="#project_tree") 项目树
    li(class="active")
      a(href="#project_map") 项目地图
    li
      a(href="#project_category") 分类
    li
      a(href="#project_service_api") API 接口
    li
      a(href="#project_setting") 项目配置
    li
      a(href="#project_dashboard") 仪表盘
