h3(class="page-header" id="project_service_api")
  | API 接口
div(class="table-responsive")
  table(class="table table-striped")
    thead
      tr
        th #
        th 名称
        th 路径
        th 类型
        th 描述
        th 所属分类
        th Mock 数据
        th 操作
    tbody
      tr
        td #
        td #
        td #
        td #
        td #
        td #
        td #
        td #
