h3(class="page-header" id="project_category")
  | 分类
div(class="table-responsive")
  table(class="table table-striped")
    thead
      tr
        th #
        th 名称
        th Services 模块
        th Mock 数据模块
        th 包含接口（只读）
        th 操作
    tbody
      tr
        td #
        td #
        td #
        td #
        td #
        td #
