h3(class="page-header" id="project_dashboard")
  | 仪表盘
div(class="row")
  div(class="col-lg-12")
    ul(class="list-group")
      li(class="list-group-item")
        span 前端服务状态
        button(type="button" class="btn btn-link btn-xs") 开启
        button(type="button" class="btn btn-link btn-xs") 停止
        span(class="badge list-group-item-success") 运行中
      li(class="list-group-item")
        span Mock 数据服务状态
        button(type="button" class="btn btn-link btn-xs") 开启
        button(type="button" class="btn btn-link btn-xs") 停止
        span(class="badge list-group-item-danger") 未开启
