h3(class="page-header" id="project_dashboard")
  | 仪表盘
div(class="row dashboard")
  if serverStatus
    div(class="col-lg-6 col-sm-6 col-md-6")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") 前端服务状态
        div(class="panel-body")
          if serverStatus.devServer === 0
            button(type="button" class="btn btn-primary btn-sm" data-type="dev-server" data-control="start" data-loading-text="开启中...")
              span(class="glyphicon glyphicon-play" aria-hidden="true") 开启
            button(type="button" class="btn btn-danger btn-sm" data-type="dev-server" data-control="stop" disabled)
              span(class="glyphicon glyphicon-stop" aria-hidden="true") 停止
            span(class="badge list-group-item-danger pull-right")
              | 未开启
          else
            button(type="button" class="btn btn-primary btn-sm" data-type="dev-server" data-control="start" disabled)
              span(class="glyphicon glyphicon-play" aria-hidden="true") 开启
            button(type="button" class="btn btn-danger btn-sm" data-type="dev-server" data-control="stop")
              span(class="glyphicon glyphicon-stop" aria-hidden="true") 停止
            span(class="badge list-group-item-success pull-right")
              | 运行中
    div(class="col-lg-6 col-sm-6 col-md-6")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") Mock 数据服务状态
        div(class="panel-body")
          if serverStatus.mockServer === 0
            button(type="button" class="btn btn-primary btn-sm" data-type="mock-server" data-control="start" data-loading-text="开启中...")
              span(class="glyphicon glyphicon-play" aria-hidden="true") 开启
            button(type="button" class="btn btn-danger btn-sm" data-type="mock-server" data-control="stop" disabled)
              span(class="glyphicon glyphicon-stop" aria-hidden="true") 停止
            span(class="badge list-group-item-danger pull-right")
              | 未开启
          else
            button(type="button" class="btn btn-primary btn-sm" data-type="mock-server" data-control="start" disabled)
              span(class="glyphicon glyphicon-play" aria-hidden="true") 开启
            button(type="button" class="btn btn-danger btn-sm" data-type="mock-server" data-control="stop")
              span(class="glyphicon glyphicon-stop" aria-hidden="true") 停止
            span(class="badge list-group-item-success pull-right")
              | 运行中
  else
    div(class="col-lg-6 col-sm-6 col-md-6")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") 前端服务状态
        div(class="panel-body")
          button(type="button" class="btn btn-primary btn-sm" data-type="dev-server" disabled)
            span(class="glyphicon glyphicon-play" aria-hidden="true") 开启
          button(type="button" class="btn btn-danger btn-sm" data-type="dev-server" disabled)
            span(class="glyphicon glyphicon-stop" aria-hidden="true") 停止
    div(class="col-lg-6 col-sm-6 col-md-6")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") Mock 数据服务状态
        div(class="panel-body")
          button(type="button" class="btn btn-primary btn-sm" data-type="mock-server" disabled)
            span(class="glyphicon glyphicon-play" aria-hidden="true") 开启
          button(type="button" class="btn btn-danger btn-sm" data-type="mock-server" disabled)
            span(class="glyphicon glyphicon-stop" aria-hidden="true") 停止
    div(class="col-lg-12")
      div(class="alert alert-info")
        strong 提示！
        | 当前 JMS 版本为 [#{baseInfo.JMSVersion}]。JMS 版本 >= [#{release020}] 可使用此功能。
