h3(class="page-header" id="project_map")
  | 项目地图
div(class="table-responsive")
  table(class="table table-striped")
    thead
      tr
        th #
        th 名称
        th 详细（只读）
        th 参数
        th 示例
        th 操作
    tbody
      tr
        td #
        td #
        td #
        td #
        td #
        td #
