doctype html
html(lang="zh-CN")
  include ./templates/_head
  body
    if projects.length
      include ./templates/_nav
      div(class="container-fluid")
        if JMSVersion
          div(class="row")
            include ./templates/_project_sidebar
            div(class="main")
              // include ./templates/_project_tree
              include ./templates/_project_map
              include ./templates/_project_category
              include ./templates/_project_service_api
              include ./templates/_project_setting
              include ./templates/_project_dashboard
        else
          div(class="container console-board-container")
            include ./templates/_error
    else
      div(class="container console-board-container")
        include ./templates/_null
    include ./templates/_footer
    script(src="/public/assets/js/ace/ace.js")
    script(src="/public/assets/js/page/index.js")
